body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif; 
}

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-shrink: 0;
}
header:hover {
    background-color: white;
    color: black; 
}
header:hover p, header:hover a , header:hover span {
    color: black;
}
.main-section {
    height: 717px;
    position: relative;
    text-align: center;
}

.starting-video {
    width: 100%;
    display: flex;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.Svideo-1{
    width: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.left-header {
    justify-content: right;
    display: flex;
    margin-left: 24px;
}
.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 800px;
}

.logo {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.3px;
    display: inline-block;
    margin: 0;
    display: flex;
    
}
span.material-symbols-outlined{
    color: #eee;
    margin-left: 15px;
    justify-content: center;
    line-height: 1.4;
    font-size: 25;
}
.search {
    color: #eee;
    text-decoration: none;
    padding: 7px 14px;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
}
.menu {
    color: #eee;
    text-decoration: none;
    padding: 7px 14px;
    font-size: 14px;
    font-weight: 200;
    vertical-align: top;
}
.right-header {
    display: inline-block;
    justify-content: right;
    margin-right: 40px;
    display: flex;
}
.callus {
    text-decoration: none;
    color: #eee;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 200;
    width: 50;
}
.Wishlist {
    text-decoration: none;
    color: #eee;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 200;
    width: 50;
    
}
.MyLV {
    text-decoration: none;
    color: #eee;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 200;
    width: 50;
}
.body-h2 {
    text-align: center;
    display: inline-block;
    position: fixed;
}
.Header-text {
    font-weight: 400;
    position: absolute;
}
.video-container {
    width: 100%;
    height: 729px; 
    display: flex;
    object-fit: cover;
    position: relative; 
    z-index: 1;
}

.Svideo-1 {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

div.first-head2 {
    display: grid;
    grid-template-rows: 80px auto; 
    justify-content: center;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin-left: 0; 
    margin-bottom: 38px;
    width: 100%; 
}

.main-h2 {
    font-weight: 400;
    flex-direction: column;
    font-size: 1.8rem;
    letter-spacing: .025rem;
    line-height: 2.5rem;
    color: #fff;
}

button.discover-button {
    width: 235px;
    height: 48px;
    border: solid #eee;
    border-radius: 30px;
    background: transparent;
    color: #eee; 
    font-weight: 400;
    backdrop-filter: blur(10px); 
}
button.discover-button:hover {
    border-width: 2px;
}
.womenbag-div {
    display: inline-block;
    display: flex;
    flex-shrink: 0;
}
.womens-bag {
    width: 427px;
    margin-bottom: 0;
    margin-right: 0;
    height: 426px;
}

.collections-main {
    margin: 35px;
    margin-left: 5px;
    display: inline-block;
    margin-right: 17px;
}
.women-bag {
    font-size: 18px;
    font-weight:bold 300;
    display: inline-flex;
}
.women-bag-p {
    width: 427;
    display: grid;
    grid-template-columns: 427px;
}
.explore-tag {
    color: black;
    font-weight:bold 300;
    font-size: 14;
    display: inline-flex;
}
.image-2 {
    margin: 0;
    display: inline-block;
}
.sneakers-div {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
}
.image-3 {
    margin: 15;
    display: inline-block;
}
.menbag-div {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
}
.cruise-image {
    width: 100%;
}
.second-video-div {
    width: 100%;
    position: relative;
    top: 756px;
    bottom: 0; 
}

.second-video {
    width: 100%;
}
.image-cruise-div {
    position: absolute;
    object-fit: cover;
}
div.second-head2 {
    display: grid;
    grid-template-rows: 80px auto; 
    justify-content: center;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin-left: 0; 
    margin-bottom: 123px;
    width: 100%; 
}
.Second-h2 {
    font-weight: 400;
    flex-direction: column;
    font-size: 1.8rem;
    letter-spacing: .025rem;
    line-height: 5.0rem;
    color: #fff;
    margin:0;
}
button.collection-button {
    width: 250px;
    height: 48px;
    border: solid #eee;
    border-radius: 30px;
    background: transparent;
    color: #eee;
    margin: auto; 
    font-weight: 400;
    backdrop-filter: blur(8px); 
}
button.collection-button:hover {
    border-width: 2px;
}
.third-img {
    width: 100%;
    top: 750px;
    position: relative;
    margin-bottom: 0; 
}
.image-4 {
    width: 100%;
}
div.Spring-summer-div {
    display: grid;
    grid-template-rows: 80px auto; 
    justify-content: center;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin-left: 0; 
    margin-bottom: 50px;
    width: 100%; 
}
.Spring-h4 {
    font-weight: 400;
    flex-direction: column;
    font-size: 1.8rem;
    letter-spacing: .025rem;
    line-height: 5.0rem;
    color: #fff;
    margin:0;
}
button.collection-button2 {
    width: 250px;
    height: 48px;
    border: solid #eee;
    border-radius: 30px;
    background: transparent;
    color: #eee;
    margin: auto; 
    font-weight: 400;
}
div.Holiday-season-head2{
    display: grid;
    grid-template-rows: 80px auto; 
    justify-content: center;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin-left: 0; 
    margin-bottom: 40px;
    width: 100%; 
}
.Holiday-h3 {
    font-weight: 400;
    flex-direction: column;
    font-size: 1.8rem;
    letter-spacing: .025rem;
    line-height: 5.0rem;
    color: #fff;
    margin:0;
}
button.Discover-button-last {
    width: 250px;
    height: 48px;
    border: solid #eee;
    border-radius: 30px;
    background: transparent;
    color: #eee;
    margin: auto; 
    font-weight: 400;
    backdrop-filter: blur(8px); 
}
button.Discover-button-last:hover {
    border-width: 2px;
}
.footer-1 {
    height: 344px;
    position: relative;
    z-index: 1000;
    top: 774px;
    width: 100%; 
    margin-top: 20px;
    gap: 16px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    max-width: 1000px; 
    margin-left: 110px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eae8e4;
    justify-content: flex-start;
}


.help-section1 {
    gap: 16px;
    padding-right: 2rem;
    max-width: 1000px;
    margin: 0;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.help-div {
    font-size: .625rem;
    letter-spacing: .0625rem;
    line-height: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: inherit;
    display: flex;
    flex-direction: row;
}

.client-div {
    font-size: .875rem;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    font-weight: 400;
    text-align: left;
    padding-bottom: 10px;
}

.list-info {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.help-a-tag {
    background-color: transparent;
    color: inherit;
    font-size: .875rem;
    letter-spacing: .025rem;
    line-height: 1rem;
    font-weight: 400;
    text-decoration: none;
}
.li-footer {
    border: none;
    display: list-item;
    margin: 0 0 1rem;
    text-align: -webkit-match-parent;
}
.contact-a-tag {
    color: black;
    
}
.services-a-tag {
    background-color: transparent;
    color: inherit;
    font-size: .875rem;
    letter-spacing: .025rem;
    line-height: 1rem;
    font-weight: 400;
    text-decoration: none;
}
.about-a-tag {
    background-color: transparent;
    color: inherit;
    font-size: .875rem;
    letter-spacing: .025rem;
    line-height: 1rem;
    font-weight: 400;
    text-decoration: none;
}
.connect-a-tag {
    background-color: transparent;
    color: inherit;
    font-size: .875rem;
    letter-spacing: .025rem;
    line-height: 1rem;
    font-weight: 400;
    text-decoration: none;
}
.connect-div {
    display: block;
    font-size: .875rem;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 15px;
}
.last-footer {
    max-width: 100%;
    margin: 0 ;
    height: 350px;
    justify-content: space-between;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    top: 344px;
}
.details-location {
    position: absolute;
    max-width: 100%;
    height: 50px;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
}
.india-svg {
    width: 17px;
    height: 25px;
    vertical-align: top;
}
.india-text{
    display: flex;
    justify-content: flex-start;
    color: inherit;
    font-family: inherit;
    box-shadow: 0 2px 0 -1px #19110b;
    cursor: pointer;
}
.footer-legal-list {
    margin: 0;
    list-style: none;
    right: 0.5px;
    display: flex;
    justify-content: end;
}
.sitemap-privacy-list {
    padding: 16px;
}
.legal-a-tag {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    color: inherit;
    font-family: inherit;
    font-weight: 300;
}
.lv-section-additionalfeature {
    padding-left: 0;
    padding-top: 35px;
    display: grid;
    grid-template-columns: 550px 1fr;
    text-align: left;
}
.additional-feature-list {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: inherit;
    letter-spacing: .025rem;
    line-height: 1rem;
    font-weight: 300;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
    font-size: .75rem;
}
.manufacture-info {
    font-size: .65rem;
    font-weight: 500;
    padding: 20px;
    padding-left: 0;
    margin: 0;
}
.lv-svg-footer {
    position: absolute;
    max-width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}
.location-list {
    padding-left: 0;
    display: inline-block;
    list-style: none;
    text-align: left;
}
.footer-location-ul {
    flex-direction: row;
    top:0;
    padding: 0;
}
.lv-logo-div {
    position: absolute;
    max-width: 100%;
    padding: 1.625rem 0;
    margin: auto;
    display: block;
}
